.title{
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    margin-bottom: 10px;
}
textarea{
    resize:none;
    outline:none;
    width: 100%;
    border: none;
    height: 90px;
    overflow: hidden;
    padding-left: 10px;

}
.fields_wrapper{
    display: flex;
    flex-direction: column;
}
.language{
    padding-left: 5px;
    background-color: #c5c5c5;
}
.input_wrapper{
    align-self: center;
    width: 90%;
    border: 1px solid #c5c5c5;
    margin-bottom: 10px;
}
@media screen and (max-width: 1600px) {
    textarea{
        height: 80px;
    }
}
@media screen and (max-width: 1500px) {
    textarea{
        height: 75px;
    }
}
@media screen and (max-width: 1400px) {
    textarea{
        height: 70px;
    }
}
@media screen and (max-width: 1317px) {
    .title{
        display: none;
    }
    .fields_wrapper{
        padding-top: 10px;
        height: 462px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    textarea{
        height: 185px;
    }
    .input_wrapper_bottom{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 1200px) {
    .fields_wrapper{
        height: 420px;
    }
    textarea{
        height: 165px;
    }
}
@media screen and (max-width: 1100px) {
    .fields_wrapper{
        height: 380px;
    }
    textarea{
        height: 145px;
    }
}
@media screen and (max-width: 1000px) {
    .fields_wrapper{
        height: 340px;
    }
    textarea{
        height: 125px;
    }
}
@media screen and (max-width: 900px) {
    .fields_wrapper{
        height: 302px;
    }
    textarea{
        height: 112px;
    }
}
@media screen and (max-width: 800px) {
    .fields_wrapper{
        height: 265px;
    }
    textarea{
        height: 88px;
    }
}