.title{
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    margin-bottom: 10px;
    /*font-weight: bold;*/
}
textarea{
    /*max-lines: 4;*/
    resize:none;
    outline:none;
    width: 100%;
    border: none;
    height: 90px;
    overflow: hidden;
    /*align-self: center;*/
    /*height: 120px;*/
    /*padding: 3px 10px;*/
    padding-left: 10px;

}
.fields_wrapper{
    display: flex;
    flex-direction: column;
}
.language{
    padding-left: 5px;
    background-color: #c5c5c5;
}
.wrapper{
    /*margin-bottom: 20px;*/
}
.input_wrapper{
    align-self: center;
    width: 90%;
    border: 1px solid #c5c5c5;
    margin-bottom: 10px;
}
@media screen and (max-width: 1800px) {
}
@media screen and (max-width: 1700px) {
}
@media screen and (max-width: 1600px) {
    textarea{
        height: 80px;
    }
}
@media screen and (max-width: 1500px) {
    textarea{
        height: 75px;
    }
}
@media screen and (max-width: 1400px) {
    textarea{
        height: 70px;
    }
}
@media screen and (max-width: 1300px) {
    .title{
        display: none;
    }
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1100px) {

}
@media screen and (max-width: 1000px) {

}
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 800px) {

}
@media screen and (max-width: 700px) {

}
@media screen and (max-width: 600px) {

}
@media screen and (max-width: 500px) {

}
@media screen and (max-width: 400px) {

}