.wrapper{
    width: 50%;
    //height: 100%;
    border: 1px solid #c5c5c5;
    border-top: 0;
    border-left: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    position: relative;
&:before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     display: block;
     z-index: 1;}
}
@media screen and (max-width: 767px) {
    .wrapper{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 25%;
        height: 25%;
        z-index: 1;
    }
}