.wrapper{
/*position: absolute;*/
/*    width: 30%;*/
/*    padding: 18%;*/
    width: 33%;
    margin: 0 2px;
    border-radius: 5px;
    /*height: 30%;*/
    background-color: darkgray;
    /*margin: 20px;*/
}
.o1{

}
.o2{

}