.close_wrapper{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.close_img{
  cursor: pointer;
}
.label{
  margin-top: 10px;
  padding: 0;
  width: 260px;
}
.title{
  margin-bottom: 10px;
}
.form_wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.submit{
  margin-top: 25px;
  background-color: blueviolet;
  color: white;
  width: 190px;
  text-align: center;
  padding: 15px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.close_img_wrapper{
  -webkit-tap-highlight-color: transparent;
  position: relative;
  cursor: pointer;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 1;}
}