.wrapper{
    display: flex;
    margin-top: 20px;
}
.void{
    width: 24%;
}
.options_wrapper{
    width: 38%;
    display: flex;
    justify-content: flex-start;
}
.options{
    margin-left: 20px;
    padding: 10px;
    width: 30%;
    background-color: #a1a1a1;
    border-radius: 5px;
    height: 60px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.options_img{
    width: 40px;
    /*background-color: gray;*/
}
@media screen and (max-width: 1200px) {
    .options{
        height: 50px;
    }
    .options_img{
        width: 30px;
    }
}
@media screen and (max-width: 900px) {
    .options{
        height: 40px;
        margin-left: 10px;
    }
    .options_img{
        width: 20px;
    }
    .wrapper{
        margin-top: 10px;
    }
}
@media screen and (max-width: 767px) {
    .void{
        width: 0;
    }
    .options_wrapper{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        /*height: 25%;*/
    }
    .wrapper{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .options{
        margin-left: 0;
        width: 100%;
    }
}
