.title{
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    /*box-shadow: 0 14px 28px rgb(10,10,10);*/
    padding: 5px 0;
    /*font-weight: bold;*/
}
.messages{
    height: 300px;
    overflow: scroll;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    padding-top: 20px;
    margin-right: 3px;

}
.messages_wrapper{
    /*height: 20%;*/
    margin-top: auto;
    margin-bottom: 5px;
}
.input_field{
    width: 100%;
    border: none;
    border-bottom: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    outline:none;
    padding: 5px 15px;
}
.input{
    display: flex;
    border-top: 1px solid #c5c5c5;
}
.input_img{
    width: 42px;
    border-bottom: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.messages_wr{
    height: 100%;
}
.messages::-webkit-scrollbar {
    width: 15px;
}

.messages::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
    margin: 10px 0;
}

.messages::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, #9454c7 0%, #4347a4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(1,1,1, 0.5);
}

@media screen and (max-width: 1800px) {
    .messages{
        height: 260px;
    }
}
@media screen and (max-width: 1700px) {
    .messages{
        height: 240px;
    }
}
@media screen and (max-width: 1600px) {
    .messages{
        height: 220px;
    }
}
@media screen and (max-width: 1500px) {
    .messages{
        height: 200px;
    }
}
@media screen and (max-width: 1400px) {
    .messages{
        height: 180px;
    }
}
@media screen and (max-width: 1317px) {
    .title{
        display: none;
    }
    .messages{
        height: 92%;
    }
    .wrapper{
        height: 462px;
        position: relative;
    }
    .input{
        height: 8%;
    }
}
@media screen and (max-width: 1200px) {
    .wrapper{
        height: 420px;
    }
    .input_img{
        width: 38px;
    }
    .messages{
        height: 91.5%;
    }
    .input{
        height: 8.5%;
    }
}
@media screen and (max-width: 1100px) {
    .wrapper{
        height: 380px;
    }
    .messages{
        height: 90.5%;
    }
    .input{
        height: 9.5%;
    }
}
@media screen and (max-width: 1000px) {
    .wrapper{
        height: 340px;
    }
    .messages{
        height: 90%;
    }
    .input{
        height: 10%;
    }
}
@media screen and (max-width: 900px) {
    .wrapper{
        height: 302px;
    }
    .messages{
        height: 89%;
    }
    .input{
        height: 11%;
    }
}
@media screen and (max-width: 800px) {
    .wrapper{
        height: 265px;
    }
    .messages{
        height: 88%;
    }
    .input{
        height: 12%;
    }
}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 600px) {

}
@media screen and (max-width: 500px) {

}
@media screen and (max-width: 400px) {

}