.wrapper{
    width: 38%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
.button{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 30%;
    padding: 15px;
    cursor: pointer;
}
.start{
    background-color: #51a951;
}
.stop{
    background-color: rgba(218, 187, 93, 0.91);
}
.complain{
    background-color: #d55454;
}
.start:hover{
    background-color: #489648;
}
.stop:hover{
    background-color: rgba(208, 167, 60, 0.91);
}
.complain:hover{
    background-color: #c44343;
}
.start:active{
    background-color: #337333;
}
.stop:active{
    background-color: rgba(190, 151, 46, 0.91);
}
.complain:active{
    background-color: #b23535;
}
@media screen and (max-width: 1200px) {
    .button{
        padding: 10px;
    }
}
@media screen and (max-width: 900px) {
    .button{
        font-size: 18px;
        padding: 5px;
    }
}
@media screen and (max-width: 767px) {
    .wrapper{
        width: 100%;
        flex-direction: column;
    }
    .button{
        width: 100%;
        margin-top: 10px;
    }
}