.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Rubik", sans-serif;
    position: fixed;
    top:0;
    left: 0;
    height: 50px;
    width: 100%;
    align-items: center;
    background-color: #f1f1f1;
    /*margin-bottom: 50px;*/
    /*border-bottom: 1px solid darkgray;*/
    z-index: 2;
}
.link{
    text-decoration: none;
}
/*.logo.link:visited{*/
/*    color: blueviolet;*/
/*}*/
/*.auth.link:visited{*/
/*    color: white;*/
/*}*/
.logo{
    color: blueviolet;
    font-size: 32px;
    padding-left: 10px;
    font-weight: bold;
}
.logo .link:visited{
    color: blueviolet;
}
.login .link:visited{
    color: white;
}
.login{
    font-size: 18px;
    color: white;
    border-radius: 5px;
padding: 5px 15px;
    margin-right: 20px;
    background-color: blueviolet;
}
.login:hover{
    cursor: pointer;
}
.logoimg{
    margin-top: 10px;
}