.wrapper{
    display: flex;
    flex-direction: column;
    width: 38%;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgrey;
    border-top: 0;
    border-left: 0;
    padding: 10px 40px;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
.title{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
li{
    padding-left: 0;
    margin-left: 0;
}